    body {
        width: 100%;
        height: 100vh;
        background-color: hsl(233, 47%, 7%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .attribution { 
        font-size: 11px; text-align: end;
     }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
        text-align: end;
    }
    .wrapper {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
        border-radius: 10px;
        width: 1600px;
        height: 50%;
        background-color: hsl(244, 38%, 16%);
        font-size: 20px;
    }
    .text{
        flex-wrap: wrap;
        text-align: left;
        padding: 100px;
        padding-top: 30px;
    }
    img {
        width: 100%;
        height: 100%;
        background-color: hsla(277, 64%, 61%, 0.6);
        border-radius: 15px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        filter: grayscale(100%) brightness(60%) sepia(60%) hue-rotate(240deg) saturate(500%) contrast(1);

      
    }
    h1 {
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
        font-weight: 700;

    }
    p {
        font-family: 'lexand deca', sans-serif;
        font-weight: 400;
        color:hsla(0, 0%, 100%, 0.75);
        padding-right:90px;
        letter-spacing: 2px;
   
    }
    div{
        align-items: flex-start;
    }
    
    .violet{
       color: hsl(277, 64%, 61%)
    }
    #stats{
        display: grid;
        grid-template-rows: 33% 33% 33%;
        display:flex;
        color: hsla(0, 0%, 100%, 0.6);
        font-size:15px;
        letter-spacing: 2px;
        padding-top:80px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        text-transform:uppercase
        
    }
    .numbers{
        font-size: 40px;
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
    
        
    }
    footer{
        
        position:absolute;
        bottom:5px;
    }
    #box1{
        grid-column-start:1 ;
        flex-wrap:wrap;
        
    }
    #box2{
        grid-column-start: 2;
        padding-left: 100px;
    }
    #box3{
        grid-column-start:3;
        padding-left: 100px;
    }
@media(max-width:576px){
    body {
        width: 375px;
        height: 100vh;
        background-color: hsl(233, 47%, 7%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    
    .wrapper {
        
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
        border-radius: 10px;
        width: 90%;
        height: 90%;
        background-color: hsl(244, 38%, 16%);
        font-size: 15px;
       
    }
    .text{
        width:100%;
        height: ;
        flex-wrap: nowrap;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    img {
        width: 100%;
        height: 33%;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        filter: grayscale(100%) brightness(60%) sepia(60%) hue-rotate(240deg) saturate(500%) contrast(1);
    }
    h1 {
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
    
    }
    p {
        font-family: 'lexand deca', sans-serif;
        font-weight: 400;
        color:hsla(0, 0%, 100%, 0.75);
        padding-left: 8px;
        padding-right: 8px;
        letter-spacing: 2px;
    
    }
    div{
        align-items: flex-start;
    }
    
    .violet{
       color: hsl(277, 64%, 61%);
    }
    #stats{
        grid-template-columns:1fr 1fr 1fr;
        color: hsla(0, 0%, 100%, 0.6);
        font-size:15px;
        letter-spacing: 2px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        text-transform:uppercase;
        
    }
    .numbers{
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
    
        
    }
    footer{
        
        position:absolute;
        bottom:5px;
    }
    #box{
        padding:10px;
    grid-column-start: 1;
    }
    #box2{
        padding:10px;
    grid-column-start:2 ;
    }
    #box3{
        padding:10px;
    grid-column-start: 3;
    }
}
